.tituloModelo{
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 45px;
  color: white;
  text-shadow: -1px 4px 3px #9b1c43;
  background: black;
  padding-top: 5%;
}
.cajaImagenesModelos{
  display: flex;
  background: black;
  padding: 2% 0;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cajaImagenesModelos a{
  width:500px;
  margin: 10px;
}
.cajaImagenesModelos img{
  width: 100%;
}
.lg-actions .lg-prev:after { /* Iconos para flechas de lightGallery */
  content: "←" !important;
  font-size: 50px;
}
.lg-actions .lg-next::before {
  content: "→" !important;
  font-size: 50px;
}
.lg-toolbar .lg-close::after {
  content: "×" !important;
  font-size: 50px;
}
.lg-toolbar .lg-download:after { /* Boton para descargar imagen de lightGallery */
  display: none;
}
.infoAuto{
  width: 100%;
  padding: 2% 10% 2% 10%;
  background:black;
  color: white;
}

.otrosModelos{
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 45px;
  text-shadow: -1px 4px 3px #9b1c43;
  margin: 5% auto 2% auto;
}

/* CAROUSEL flickity */
.cajaCarouselFlickity{
  width: 93%;
  margin: 0 auto;
}
.autoCarouselFlickity {
  width: 25%;  /* Determina la cantidad de cajas que se van a ver del carrousel */
  height: 350px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.autoCarouselFlickity img{
  width: 100%;
  margin: 0;
}
.imagenAutoCarousel{
  width: 100%;
  height: 250px;
}
.nombreAuto{
  background-color: #9b1c43;
  color: white;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 20px auto 0 auto;  
  width: 50%;
  transform: skew(-15deg);
}
.flickity-prev-next-button.previous {
  left: -3% !important;
  color: red;
  background: transparent;
  top: 50%;
}
.flickity-prev-next-button.next {
  right: -3% !important;
  color: red;
  background: transparent;
  top: 50%;
}
.flickity-page-dots {  /* Pelotitas inferiores de navegacion */
  display: none;
}
@media (max-width:800px){
  .autoCarouselFlickity {
      width: 50%;
  }
}